In [2]:
import os
os.getcwd()

'/Users/zarnazhadi/Desktop/hippocampus_TFs/scripts'

In [3]:
import pandas as pd 

tfs = pd.read_csv("/Users/zarnazhadi/Desktop/hippocampus_TFs/TF.csv", sep= '\t', header=0) 
tfs.head()

,Species,Symbol,Ensembl,Family,Protein,Entrez ID
0,Homo_sapiens,ZBTB8B,ENSG00000273274,ZBTB,ENSP00000476499;ENSP00000476499;,728116
1,Homo_sapiens,GSX2,ENSG00000180613,Homeobox,ENSP00000319118;ENSP00000483522;,170825
2,Homo_sapiens,TBX2,ENSG00000121068,T-box,ENSP00000404781;ENSP00000240328;,6909
3,Homo_sapiens,PAX8,ENSG00000125618,PAX,ENSP00000395498;ENSP00000263335;ENSP0000038076...,7849
4,Homo_sapiens,CREB3L1,ENSG00000157613,TF_bZIP,ENSP00000481956;ENSP00000436574;,90993

In [12]:
print(type(tfs)) # <class 'pandas.core.frame.DataFrame'>

# first 10 rows only 
#exp_rows_small = pd.read_csv("/Users/zarnazhadi/Desktop/hippocampus_TFs/RNA_seq.txt", sep= '\t', header= 2, nrows= 10)
#print(exp_rows_small.head())

# first 3 columns only
fields = ['Name', 'Description']
exp_col = pd.read_csv("/Users/zarnazhadi/Desktop/hippocampus_TFs/RNA_seq.txt", sep= '\t', header= 2, usecols=fields)

# See content in 'Name'
print(exp_col.Name)

<class 'pandas.core.frame.DataFrame'>
0        ENSG00000223972.5
1        ENSG00000227232.5
2        ENSG00000278267.1
3        ENSG00000243485.5
4        ENSG00000237613.2
               ...
56195    ENSG00000198695.2
56196    ENSG00000210194.1
56197    ENSG00000198727.2
56198    ENSG00000210195.2
56199    ENSG00000210196.2
Name: Name, Length: 56200, dtype: object

In [5]:
# full dataset
# exp = pd.read_csv("RNA_seq.txt", sep= '\t', header= 2)

In [6]:
#for col in tfs:
    #print(tfs['Family'].unique())

In [13]:
exp_col.head()

                Name  Description
0  ENSG00000223972.5      DDX11L1
1  ENSG00000227232.5       WASH7P
2  ENSG00000278267.1    MIR6859-1
3  ENSG00000243485.5  MIR1302-2HG
4  ENSG00000237613.2      FAM138A

In [14]:
exp_col['Ensembl'] = exp_col['Name'].str[0:-2]

In [11]:
print(exp_col)

                    Name  Description          Ensembl
0      ENSG00000223972.5      DDX11L1  ENSG00000223972
1      ENSG00000227232.5       WASH7P  ENSG00000227232
2      ENSG00000278267.1    MIR6859-1  ENSG00000278267
3      ENSG00000243485.5  MIR1302-2HG  ENSG00000243485
4      ENSG00000237613.2      FAM138A  ENSG00000237613
...                  ...          ...              ...
56195  ENSG00000198695.2       MT-ND6  ENSG00000198695
56196  ENSG00000210194.1        MT-TE  ENSG00000210194
56197  ENSG00000198727.2       MT-CYB  ENSG00000198727
56198  ENSG00000210195.2        MT-TT  ENSG00000210195
56199  ENSG00000210196.2        MT-TP  ENSG00000210196

[56200 rows x 3 columns]

In [15]:
merged_inner = pd.merge(left=exp_col, right=tfs, left_on='Ensembl', right_on='Ensembl')

In [16]:
print(merged_inner)

                  Name     Description          Ensembl       Species  \
0    ENSG00000197921.5            HES5  ENSG00000197921  Homo_sapiens
1    ENSG00000173673.7            HES3  ENSG00000173673  Homo_sapiens
2    ENSG00000007968.6            E2F2  ENSG00000007968  Homo_sapiens
3    ENSG00000117318.8             ID3  ENSG00000117318  Homo_sapiens
4    ENSG00000131910.4           NR0B2  ENSG00000131910  Homo_sapiens
..                 ...             ...              ...           ...
628  ENSG00000171116.7           HSFX1  ENSG00000171116  Homo_sapiens
629  ENSG00000283463.1  XX-FW81066F1.2  ENSG00000283463  Homo_sapiens
630  ENSG00000189420.8           ZFP92  ENSG00000189420  Homo_sapiens
631  ENSG00000184895.7             SRY  ENSG00000184895  Homo_sapiens
632  ENSG00000176679.8         TGIF2LY  ENSG00000176679  Homo_sapiens

      Symbol         Family                           Protein  Entrez ID
0       HES5           bHLH                  ENSP00000367714;     388585
1       HES3           bHLH                  ENSP00000367130;     390992
2       E2F2            E2F                  ENSP00000355249;       1870
3        ID3           bHLH                  ENSP00000363689;       3399
4      NR0B2  Miscellaneous                  ENSP00000254227;       8431
..       ...            ...                               ...        ...
628    HSFX1            HSF                  ENSP00000359444;  100506164
629    HSFX4            HSF                  ENSP00000489814;  101927685
630    ZFP92        zf-C2H2                  ENSP00000462054;     139735
631      SRY            HMG                  ENSP00000372547;       6736
632  TGIF2LY       Homeobox  ENSP00000318502;ENSP00000453750;      90655

[633 rows x 8 columns]

In [18]:
tfs_ndim = tfs.ndim
print(tfs_ndim)

2

In [19]:
tfs

,Species,Symbol,Ensembl,Family,Protein,Entrez ID
0,Homo_sapiens,ZBTB8B,ENSG00000273274,ZBTB,ENSP00000476499;ENSP00000476499;,728116
1,Homo_sapiens,GSX2,ENSG00000180613,Homeobox,ENSP00000319118;ENSP00000483522;,170825
2,Homo_sapiens,TBX2,ENSG00000121068,T-box,ENSP00000404781;ENSP00000240328;,6909
3,Homo_sapiens,PAX8,ENSG00000125618,PAX,ENSP00000395498;ENSP00000263335;ENSP0000038076...,7849
4,Homo_sapiens,CREB3L1,ENSG00000157613,TF_bZIP,ENSP00000481956;ENSP00000436574;,90993
...,...,...,...,...,...,...
1660,Homo_sapiens,ZNF487,ENSG00000243660,Others,-,642819
1661,Homo_sapiens,NME2,ENSG00000243678,Others,-,4831
1662,Homo_sapiens,ZNF488,ENSG00000265763,Others,-,118738
1663,Homo_sapiens,DMRTC1,ENSG00000269502,Others,-,63947
1664,Homo_sapiens,ZNF280B,ENSG00000275004,Others,-,140883

In [23]:
tfs_sorted = tfs.groupby(tfs.columns.tolist(),as_index=False).size()

In [27]:
tfs_ensembl_sort = tfs.sort_values('Ensembl')
tfs_ensembl_sort

,Species,Symbol,Ensembl,Family,Protein,Entrez ID
1127,Homo_sapiens,NFYA,ENSG00000001167,NF-YA,ENSP00000229418;ENSP00000345702;,4800
566,Homo_sapiens,ARX,ENSG00000004848,Homeobox,ENSP00000368332;,170302
114,Homo_sapiens,HOXA11,ENSG00000005073,Homeobox,ENSP00000448962;ENSP00000006015;,3207
147,Homo_sapiens,MEOX1,ENSG00000005102,Homeobox,ENSP00000321684;ENSP00000377271;,4222
239,Homo_sapiens,GCFC2,ENSG00000005436,GCFC,ENSP00000318690;ENSP00000386552;,6936
...,...,...,...,...,...,...
667,Homo_sapiens,CPHXL,ENSG00000283755,Homeobox,ENSP00000491599;,105371346
1191,Homo_sapiens,AC073111.3,ENSG00000284041,zf-C2H2,ENSP00000419336;,-
1016,Homo_sapiens,AC025287.4,ENSG00000284484,Homeobox,ENSP00000491197;,-
1432,Homo_sapiens,AC073111.5,ENSG00000284691,zf-C2H2,ENSP00000492887;ENSP00000493097;ENSP00000493012;,-
541,Homo_sapiens,ZNF883,ENSG00000285447,zf-C2H2,ENSP00000490059;,169834

In [30]:
tfs.duplicated(subset='Ensembl', keep='first') # no duplicates

0       False
1       False
2       False
3       False
4       False
        ...
1660    False
1661    False
1662    False
1663    False
1664    False
Length: 1665, dtype: bool